<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
  <div class="container" align="center">
      <h1>Cars that You can reserve</h1>
  </div>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out">
  </form>
  <br>
  <hr>
  <br>
  <div>
    <table class="table table-stripped table-bordered">
      <thead class="thead-dark">
        <th>Car Brand</th>
        <th>Car Model</th>
        <th>Car Year</th>
        <th>Car Power</th>
        <th>Car Price</th>
      </thead>
      <tbody>
        <tr th:each="car : ${cars}">
          <td th:text="${car.getCarBrand}">Car Brand</td>
          <td th:text="${car.getCarModel}">Car Model</td>
          <td th:text="${car.getYear}">Car Year</td>
          <td th:text="${car.getPower}">Car Power</td>
          <td th:text="${car.getPrice}">Car Price</td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
</html>