<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>Car List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="header.css">
</head>
<body>
    <div th:insert="header :: topnav"></div>
    <div class="container" align="center">
        <h1>Cars that You can reserve</h1>
    </div>
    <br/>
    <hr/>
    <br/>
    <form th:action="@{/receipt}" th:object="${receipt}" method="post">
        <div>
            <div align="center" sec:authorize="hasAuthority('USER')">
                <input type="number" th:field="*{days}">
                <label>Enter days</label>
            </div>
            <table class="table table-stripped table-bordered">
                <thead class="thead-dark">
                <th>Car Brand</th>
                <th>Car Model</th>
                <th>Car Year</th>
                <th>Car Power</th>
                <th>Car Price</th>
                <th>Quantity</th>
                <th sec:authorize="hasAuthority('USER')">Choose Car</th>
                </thead>
                <tbody id="car_list">
                <tr th:each="car : ${cars}">
                    <td th:text="${car.getCarBrand}">Car Brand</td>
                    <td th:text="${car.getCarModel}">Car Model</td>
                    <td th:text="${car.getYear}">Car Year</td>
                    <td th:text="${car.getPower}">Car Power, hp</td>
                    <td th:text="${car.getPrice}">Car Price</td>
                    <td th:text="${car.getQuantity}">Quantity</td>
                    <td sec:authorize="hasAuthority('USER')">
                        <div class="ui checkbox">
                            <input type="checkbox" th:field="*{cars}" th:value="${car.getId}"/>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <button sec:authorize="hasAuthority('USER')"  type="submit" class="btn btn-primary">Add all</button>
        </div>
    </form>
</body>
</html>