<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Successful</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="header.css">
</head>
<body>
<div th:insert="header :: topnav"></div>
<br/>
<br/>
<table class="table table-stripped table-bordered">
    <thead class="thead-dark">
    <th>Car Brand</th>
    <th>Car Model</th>
    <th>Car Year</th>
    <th>Car Power</th>
    <th>Car Price</th>
    <th>Choose Car</th>
    </thead>
    <tbody id="car_list">
    <tr th:each="car : ${cars}">
        <td th:text="${car.getCarBrand}">Car Brand</td>
        <td th:text="${car.getCarModel}">Car Model</td>
        <td th:text="${car.getYear}">Car Year</td>
        <td th:text="${car.getPower}">Car Power</td>
        <td th:text="${car.getPrice}">Car Price</td>
    </tr>
    </tbody>
</table>
</body>
</html>