<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container" align="center">
        <form th:action="@{/logout}" method="post">
            <h1><mark>Welcome to our car rental service, <b>[[${#request.userPrincipal.principal.fullName}]]</b></mark></h1>
            <input type="submit" value="Sign Out">
        </form>
    </div>
    <div align="center">
        <h3><a th:href="@{/car_list}">View all cars</a></h3>
        <h3><a th:href="@{/my_cars}">View my present reserves</a></h3>
    </div>

</body>
</html>