<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="user_page.css">
</head>
<body>
<div th:insert="header :: topnav"></div>
<div class="container" align="center">
    <p>
        <mark>Welcome to our car rental service, <b>[[${#request.userPrincipal.principal.fullName}]]</b></mark>
        <!-- <span sec: authentication="principal.authorities">Roles</span> -->
    </p>
    <div sec:authorize="isAuthenticated()">
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>
</div>
<div align="center">
    <h3><a th:href="@{/car_list}">View all cars</a></h3>
    <div sec:authorize="hasAuthority('USER')">
        <h4><a th:href="@{/receipt_list}">View my present reserves</a></h4>
    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        <h4><a th:href="@{/add_car}">Add Car</a></h4>
    </div>
</div>

<div class="container">
    <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img src="images/1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img src="images/2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img src="images/3.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img src="images/4.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img src="images/5.jpg" style="width:100%">
    </div>

    <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img src="images/6.jpg" style="width:100%">
    </div>


    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <div class="row">
        <div class="column">
            <img class="demo cursor" src="images/1.jpg" style="width:100%" onclick="currentSlide(1)" alt="German Style">
        </div>
        <div class="column">
            <img class="demo cursor" src="images/2.jpg" style="width:100%" onclick="currentSlide(2)" alt="German Style">
        </div>
        <div class="column">
            <img class="demo cursor" src="images/3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Power">
        </div>
        <div class="column">
            <img class="demo cursor" src="images/4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Classical">
        </div>
        <div class="column">
            <img class="demo cursor" src="images/5.jpg" style="width:100%" onclick="currentSlide(5)" alt="German Style">
        </div>
        <div class="column">
            <img class="demo cursor" src="images/6.jpg" style="width:100%" onclick="currentSlide(6)" alt="Enjoy travels">
        </div>

    </div>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

</body>
</html>